CREATE TABLE `Alias` (`idAlias` integer PRIMARY KEY AUTOINCREMENT,`idSuggestion` integer NOT NULL,`alias` text,`count` integer NOT NULL DEFAULT 1);
CREATE TABLE sqlite_sequence(name,seq);
CREATE UNIQUE INDEX `unique_index` ON `Alias`(`idSuggestion`,`alias`);
CREATE INDEX `fk_Alias_Suggestion1_idx` ON `Alias`(`idSuggestion`);
CREATE TABLE `Click` (`idInteraction` integer NOT NULL,`idSuggestion` integer NOT NULL,`rowvalues` text,PRIMARY KEY (`idInteraction`));
CREATE INDEX `fk_Click_Suggestion1_idx` ON `Click`(`idSuggestion`);
CREATE INDEX `fk_Click_Interaction1_idx` ON `Click`(`idInteraction`);
CREATE TABLE `DataType` (`idDataType` integer PRIMARY KEY AUTOINCREMENT,`type` text);
CREATE TABLE `DatabaitCreateType` (`idDatabaitCreateType` integer PRIMARY KEY AUTOINCREMENT,`type` text,CONSTRAINT `fk_Databaits_create_type_ref` FOREIGN KEY (`idDatabaitCreateType`) REFERENCES `Databaits`(`idDatabaitCreateType`));
CREATE TABLE `DatabaitNextAction` (`idDatabaitNextAction` integer PRIMARY KEY AUTOINCREMENT,`action` text);
CREATE TABLE `DatabaitTemplateType` (`idDatabaitTemplateType` integer PRIMARY KEY AUTOINCREMENT,`template` text,CONSTRAINT `fk_Databaits_template_type_ref` FOREIGN KEY (`idDatabaitTemplateType`) REFERENCES `Databaits`(`idDatabaitTemplateType`));
CREATE TABLE `DoubleClick` (`idInteraction` integer NOT NULL,`idSuggestion` integer NOT NULL,`rowvalues` text,PRIMARY KEY (`idInteraction`));
CREATE INDEX `fk_DoubleClick_Suggestion1_idx` ON `DoubleClick`(`idSuggestion`);
CREATE INDEX `fk_DoubleClick_Interaction1_idx` ON `DoubleClick`(`idInteraction`);
CREATE TABLE `Edit_Suggestion` (`idEdit` integer NOT NULL,`idSuggestion` integer NOT NULL,`isPrevSuggestion` integer NOT NULL,`isNew` integer NOT NULL,`isChosen` integer NOT NULL);
CREATE INDEX `_index_edit_suggestion_idSuggestion_agsdh1872dg` ON `Edit_Suggestion`(`idSuggestion`);
CREATE UNIQUE INDEX `uniq_edit_suggestion` ON `Edit_Suggestion`(`idEdit`,`idSuggestion`);
CREATE INDEX `_index_edit_suggestion_idEdit_agsdh1872dg` ON `Edit_Suggestion`(`idEdit`);
CREATE TABLE `EntryType` (`idEntryType` integer PRIMARY KEY AUTOINCREMENT,`type` text,CONSTRAINT `fk_Edit_entry_type_ref` FOREIGN KEY (`idEntryType`) REFERENCES `Edit`(`idEntryType`));
CREATE TABLE `Interaction` (`idInteraction` integer PRIMARY KEY AUTOINCREMENT,`idSession` integer NOT NULL,`idInteractionType` integer NOT NULL,`timestamp` datetime DEFAULT CURRENT_TIMESTAMP,CONSTRAINT `fk_DatabaitTweet_interaction_ref` FOREIGN KEY (`idInteraction`) REFERENCES `DatabaitTweet`(`idInteraction`),CONSTRAINT `fk_Edit_interaction_ref` FOREIGN KEY (`idInteraction`) REFERENCES `Edit`(`IdInteraction`),CONSTRAINT `fk_Search_interaction_ref` FOREIGN KEY (`idInteraction`) REFERENCES `Search`(`idInteraction`),CONSTRAINT `fk_Sort_interaction_ref` FOREIGN KEY (`idInteraction`) REFERENCES `Sort`(`idInteraction`),CONSTRAINT `fk_Comments_interaction_ref` FOREIGN KEY (`idInteraction`) REFERENCES `Comments`(`idInteraction`),CONSTRAINT `fk_CommentVote_interaction_ref` FOREIGN KEY (`idInteraction`) REFERENCES `CommentVote`(`idInteraction`),CONSTRAINT `fk_Databaits_interaction_ref` FOREIGN KEY (`idInteraction`) REFERENCES `Databaits`(`idInteraction`),CONSTRAINT `fk_SearchGoogle_interaction_ref` FOREIGN KEY (`idInteraction`) REFERENCES `SearchGoogle`(`IdInteraction`),CONSTRAINT `fk_CommentsView_interaction_ref` FOREIGN KEY (`idInteraction`) REFERENCES `CommentsView`(`idInteraction`),CONSTRAINT `fk_SearchMulti_interaction_ref` FOREIGN KEY (`idInteraction`) REFERENCES `SearchMulti`(`idInteraction`),CONSTRAINT `fk_Visit_interaction_ref` FOREIGN KEY (`idInteraction`) REFERENCES `Visit`(`idInteraction`),CONSTRAINT `fk_CopyColumn_interaction_ref` FOREIGN KEY (`idInteraction`) REFERENCES `CopyColumn`(`idInteraction`),CONSTRAINT `fk_Copy_interaction_ref` FOREIGN KEY (`idInteraction`) REFERENCES `Copy`(`idInteraction`),CONSTRAINT `fk_DatabaitVisit_interaction_ref` FOREIGN KEY (`idInteraction`) REFERENCES `DatabaitVisit`(`idInteraction`),CONSTRAINT `fk_HelpUs_interaction_ref` FOREIGN KEY (`idInteraction`) REFERENCES `HelpUs`(`idInteraction`));
CREATE INDEX `fk_Interaction_InteractionType1_idx` ON `Interaction`(`idInteractionType`);
CREATE INDEX `fk_Interaction_Session1_idx` ON `Interaction`(`idSession`);
CREATE TABLE `DatabaitTweet` (`idDatabaitTweet` integer PRIMARY KEY AUTOINCREMENT,`idInteraction` integer NOT NULL,`idDatabait` integer NOT NULL,`url` text NOT NULL,`likes` integer,`retweets` integer,`created` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,`nextActionTimestamp` datetime,`nextAction` integer,CONSTRAINT `fk_DatabaitTweet_next_action_ref` FOREIGN KEY (`nextAction`) REFERENCES `DatabaitNextAction`(`idDatabaitNextAction`));
CREATE TABLE `Edit` (`IdInteraction` integer NOT NULL,`idEdit` integer PRIMARY KEY AUTOINCREMENT,`idEntryType` integer NOT NULL,`mode` text NOT NULL DEFAULT "normal",`isCorrect` integer DEFAULT 2,CONSTRAINT `fk_Edit_DelRow_edit_ref` FOREIGN KEY (`idEdit`) REFERENCES `Edit_DelRow`(`idEdit`),CONSTRAINT `fk_Edit_NewRow_edit_ref` FOREIGN KEY (`idEdit`) REFERENCES `Edit_NewRow`(`idEdit`));
CREATE INDEX `idInteraction_index_adfhj126` ON `Edit`(`IdInteraction`);
CREATE TABLE `InteractionType` (`idInteractionType` integer PRIMARY KEY AUTOINCREMENT,`interaction` text);
CREATE TABLE `Profile` (`idProfile` integer PRIMARY KEY AUTOINCREMENT,`idRole` integer NOT NULL DEFAULT 2,`username` text,`email` text,`password` text,`passwordRaw` text,`date_created` datetime DEFAULT CURRENT_TIMESTAMP,`date_updated` datetime DEFAULT CURRENT_TIMESTAMP);
CREATE UNIQUE INDEX `unique_email_profile` ON `Profile`(`email`);
CREATE UNIQUE INDEX `unique_username_profile` ON `Profile`(`username`);
CREATE INDEX `index_idRole_profileTable` ON `Profile`(`idRole`);
CREATE TABLE `RemoveUserData` (`id_removeuserdata` integer PRIMARY KEY AUTOINCREMENT,`id_profile` integer NOT NULL,`id_session` integer NOT NULL,`timestamp` datetime DEFAULT CURRENT_TIMESTAMP);
CREATE TABLE `Role` (`idRole` integer PRIMARY KEY AUTOINCREMENT,`role` text NOT NULL);
CREATE TABLE `SearchType` (`idSearchType` integer PRIMARY KEY AUTOINCREMENT,`type` text NOT NULL,CONSTRAINT `fk_Search_search_type_ref` FOREIGN KEY (`idSearchType`) REFERENCES `Search`(`idSearchType`),CONSTRAINT `fk_SearchMulti_search_type_ref` FOREIGN KEY (`idSearchType`) REFERENCES `SearchMulti`(`idSearchType`));
CREATE TABLE `SelectRange` (`idInteraction` integer NOT NULL,`idSuggestion` integer NOT NULL,`rowvalues` text);
CREATE INDEX `fk_Click_Suggestion2_idx` ON `SelectRange`(`idSuggestion`);
CREATE INDEX `fk_Click_Interaction2_idx` ON `SelectRange`(`idInteraction`);
CREATE TABLE `Session` (`idSession` integer PRIMARY KEY AUTOINCREMENT,`idProfile` integer,`start` datetime DEFAULT CURRENT_TIMESTAMP,`end` datetime);
CREATE INDEX `fk_Session_Profile1_idx` ON `Session`(`idProfile`);
CREATE TABLE `CopyColumn` (`idInteraction` integer,`idSuggestionType` integer,PRIMARY KEY (`idInteraction`,`idSuggestionType`));
CREATE TABLE `Search` (`idInteraction` integer NOT NULL,`idSuggestionType` integer NOT NULL,`idSearchType` integer NOT NULL DEFAULT 3,`isPartial` integer NOT NULL DEFAULT 1,`isMulti` integer NOT NULL DEFAULT 0,`isFromUrl` integer NOT NULL DEFAULT 0,`value` text,`matchedValues` blob);
CREATE INDEX `_index_idSearchType_182356` ON `Search`(`idSearchType`);
CREATE INDEX `_fk_idSuggestionType_12835gv` ON `Search`(`idSuggestionType`);
CREATE INDEX `fk_Search_Interaction1_idx` ON `Search`(`idInteraction`);
CREATE TABLE `SearchMulti` (`idInteraction` integer,`idSuggestionType` integer,`idSearchType` integer NOT NULL DEFAULT 3,`value` text,PRIMARY KEY (`idInteraction`,`idSuggestionType`));
CREATE INDEX `fk_SearchMulti_Interaction1_idx` ON `SearchMulti`(`idInteraction`);
CREATE TABLE `Sort` (`idInteraction` integer,`idSuggestionType` integer,`isAsc` integer NOT NULL DEFAULT 1,`isTrigger` integer NOT NULL DEFAULT 1,`isMulti` integer NOT NULL DEFAULT 0,PRIMARY KEY (`idInteraction`,`idSuggestionType`));
CREATE INDEX `fk_Sort_SuggestionType1_idx` ON `Sort`(`idSuggestionType`);
CREATE INDEX `fk_Sort_Interaction1_idx` ON `Sort`(`idInteraction`);
CREATE TABLE `SuggestionTypeValues` (`idSuggestionType` integer NOT NULL,`value` text,`active` integer NOT NULL DEFAULT 1);
CREATE UNIQUE INDEX `PRIMARY_id_and_value` ON `SuggestionTypeValues`(`idSuggestionType`,`value`);
CREATE INDEX `fk_idSuggestioType_1827635` ON `SuggestionTypeValues`(`idSuggestionType`);
CREATE TABLE `UniqueId` (`idUniqueID` integer PRIMARY KEY AUTOINCREMENT,`active` integer NOT NULL DEFAULT 1,`notes` text,CONSTRAINT `fk_HelpUs_unique_id_ref` FOREIGN KEY (`idUniqueID`) REFERENCES `HelpUs`(`idUniqueID`),CONSTRAINT `fk_Suggestions_unique_id_ref` FOREIGN KEY (`idUniqueID`) REFERENCES `Suggestions`(`idUniqueID`),CONSTRAINT `fk_SearchGoogle_unique_id_ref` FOREIGN KEY (`idUniqueID`) REFERENCES `SearchGoogle`(`idUniqueID`),CONSTRAINT `fk_Comments_unique_id_ref` FOREIGN KEY (`idUniqueID`) REFERENCES `Comments`(`idUniqueID`),CONSTRAINT `fk_CommentsView_unique_id_ref` FOREIGN KEY (`idUniqueID`) REFERENCES `CommentsView`(`idUniqueID`),CONSTRAINT `fk_Databaits_unique_id_ref` FOREIGN KEY (`idUniqueID`) REFERENCES `Databaits`(`idUniqueID`),CONSTRAINT `fk_Edit_DelRow_unique_id_ref` FOREIGN KEY (`idUniqueID`) REFERENCES `Edit_DelRow`(`idUniqueID`));
CREATE TABLE `Comments` (`idComment` integer PRIMARY KEY AUTOINCREMENT,`idInteraction` integer NOT NULL,`idUniqueID` integer NOT NULL,`comment` text NOT NULL,`voteUp` integer NOT NULL DEFAULT 0,`voteDown` integer NOT NULL DEFAULT 0,CONSTRAINT `fk_CommentVote_comment_ref` FOREIGN KEY (`idComment`) REFERENCES `CommentVote`(`idComment`));
CREATE TABLE `CommentVote` (`idCommentVote` integer PRIMARY KEY AUTOINCREMENT,`idInteraction` integer NOT NULL,`idComment` integer NOT NULL,`vote` text NOT NULL,`selected` integer,CONSTRAINT `chk_CommentVote_vote` CHECK (vote IN ('voteUp','voteUp-deselect','voteDown','voteDown-deselect')));
CREATE TABLE `CommentsView` (`idCommentsView` integer PRIMARY KEY AUTOINCREMENT,`idUniqueID` integer,`idInteraction` integer);
CREATE TABLE `DatabaitVisit` (`idInteraction` integer NOT NULL,`idDatabait` integer NOT NULL,`source` text);
CREATE UNIQUE INDEX `_unique_id_interaction_databaitvisit` ON `DatabaitVisit`(`idInteraction`);
CREATE TABLE `Edit_DelRow` (`idUniqueID` integer NOT NULL,`idEdit` integer NOT NULL,`comment` text NOT NULL);
CREATE TABLE `Suggestions` (`idSuggestion` integer PRIMARY KEY AUTOINCREMENT,`idSuggestionType` integer NOT NULL,`idUniqueID` integer NOT NULL,`idProfile` integer NOT NULL DEFAULT 2,`suggestion` text NOT NULL DEFAULT "",`active` integer NOT NULL DEFAULT 1,`confidence` integer,`last_updated` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,CONSTRAINT `fk_Copy_suggestion_ref` FOREIGN KEY (`idSuggestion`) REFERENCES `Copy`(`idSuggestion`),CONSTRAINT `fk_Edit_NewRow_suggestion_ref` FOREIGN KEY (`idSuggestion`) REFERENCES `Edit_NewRow`(`idSuggestion`),CONSTRAINT `fk_SearchGoogle_suggestion_ref` FOREIGN KEY (`idSuggestion`) REFERENCES `SearchGoogle`(`idSuggestion`));
CREATE INDEX `fk_Suggestion_UniqueID_idx` ON `Suggestions`(`idUniqueID`);
CREATE INDEX `fk_Suggestion_SuggestionType1_idx` ON `Suggestions`(`idSuggestionType`);
CREATE TABLE `Copy` (`idInteraction` integer,`idSuggestion` integer,PRIMARY KEY (`idInteraction`,`idSuggestion`));
CREATE TABLE `Edit_NewRow` (`idEdit` integer NOT NULL,`idSuggestion` integer NOT NULL,`isCorrect` integer NOT NULL DEFAULT 2);
CREATE UNIQUE INDEX `uniq_editnewrow_edit_suggestion` ON `Edit_NewRow`(`idEdit`,`idSuggestion`);
CREATE TABLE `Paste` (`idInteraction` integer NOT NULL,`pasteValue` text NOT NULL,`copyCellIdSuggestion` integer,`copyCellValue` text,`pasteCellIdSuggestion` integer NOT NULL,`pasteCellValue` text NOT NULL,PRIMARY KEY (`idInteraction`),CONSTRAINT `fk_Paste_copy_suggestion_ref` FOREIGN KEY (`copyCellIdSuggestion`) REFERENCES `Suggestions`(`idSuggestion`),CONSTRAINT `fk_Paste_paste_suggestion_ref` FOREIGN KEY (`pasteCellIdSuggestion`) REFERENCES `Suggestions`(`idSuggestion`));
CREATE TABLE `SearchGoogle` (`IdInteraction` integer NOT NULL,`idUniqueID` integer NOT NULL,`idSuggestion` integer NOT NULL,`searchValues` text NOT NULL);
CREATE UNIQUE INDEX `IdInteraction` ON `SearchGoogle`(`IdInteraction`);
CREATE TABLE `ViewChange` (`idInteraction` integer,`viewname` text,PRIMARY KEY (`idInteraction`,`viewname`));
CREATE TABLE `Visit` (`idVisit` integer PRIMARY KEY AUTOINCREMENT,`idInteraction` integer NOT NULL,`source` text,`searchCol` text,`searchVal` text);
CREATE UNIQUE INDEX `Visit_idVisit_uindex` ON `Visit`(`idVisit`);
CREATE TABLE `sessions` (`session_id` text,`expires` integer NOT NULL,`data` text,PRIMARY KEY (`session_id`));
CREATE UNIQUE INDEX `idEdit` ON `Edit_Suggestion`(`idEdit`,`idSuggestion`);
CREATE TABLE IF NOT EXISTS "SuggestionType"  (`idSuggestionType` integer PRIMARY KEY AUTOINCREMENT,`idDataType` integer NOT NULL,`name` text,`isActive` integer NOT NULL DEFAULT 1,`regex` text NOT NULL DEFAULT ".*",`makesRowUnique` integer DEFAULT 0,`canBeBlank` integer NOT NULL DEFAULT 0,`isFreeEdit` integer NOT NULL DEFAULT 1,`isDate` integer NOT NULL DEFAULT 0,`isLink` integer NOT NULL DEFAULT 0,`isCurrency` integer NOT NULL DEFAULT 0,`isEditable` integer NOT NULL DEFAULT 1,`isPrivate` integer NOT NULL DEFAULT 0,`columnOrder` integer,CONSTRAINT `fk_CopyColumn_suggestion_type_ref` FOREIGN KEY (`idSuggestionType`) REFERENCES `CopyColumn`(`idSuggestionType`),CONSTRAINT `fk_Search_suggestion_type_ref` FOREIGN KEY (`idSuggestionType`) REFERENCES `Search`(`idSuggestionType`),CONSTRAINT `fk_SearchMulti_suggestion_type_ref` FOREIGN KEY (`idSuggestionType`) REFERENCES `SearchMulti`(`idSuggestionType`),CONSTRAINT `fk_Sort_suggestion_type_ref` FOREIGN KEY (`idSuggestionType`) REFERENCES `Sort`(`idSuggestionType`),CONSTRAINT `fk_Suggestions_suggestion_type_ref` FOREIGN KEY (`idSuggestionType`) REFERENCES `Suggestions`(`idSuggestionType`));
CREATE INDEX `fk_SuggestionType_DataType1_idx` ON `SuggestionType`(`idDataType`);
CREATE UNIQUE INDEX `idSuggestionType` ON `SuggestionTypeValues`(`idSuggestionType`,`value`);
CREATE TABLE IF NOT EXISTS "Databaits"  (`idDatabait` integer PRIMARY KEY AUTOINCREMENT,`idInteraction` integer NOT NULL,`idUniqueID` integer,`idDatabaitTemplateType` integer NOT NULL,`idDatabaitCreateType` integer NOT NULL,`databait` text NOT NULL,`columns` text,`vals` text,`notes` text NOT NULL,`created` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,`closed` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',`nextAction` integer,CONSTRAINT `fk_Databaits_next_action_ref` FOREIGN KEY (`nextAction`) REFERENCES `DatabaitNextAction`(`idDatabaitNextAction`),CONSTRAINT `fk_DatabaitVisit_databait_ref` FOREIGN KEY (`idDatabait`) REFERENCES `DatabaitVisit`(`idDatabait`));
CREATE TABLE IF NOT EXISTS "HelpUs"  (`idHelpUs` integer PRIMARY KEY AUTOINCREMENT,`idInteraction` integer NOT NULL,`idUniqueID` integer NOT NULL,`helpUsType` text NOT NULL,`question` text NOT NULL,`answer` text,`start` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,`answered` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',`showAnother` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',`closed` datetime NOT NULL DEFAULT '0000-00-00 00:00:00');
CREATE INDEX `idSuggestion_2` ON `Suggestions`(`idSuggestion`);
CREATE UNIQUE INDEX `idSuggestion` ON `Suggestions`(`idSuggestion`);
CREATE UNIQUE INDEX `idEdit_` ON `Edit_NewRow`(`idEdit`,`idSuggestion`);
