body {
    /*background-color: #282c34;*/
}

.grid-cell {
    white-space: normal; /* Allow text to wrap inside the cell */
    overflow: hidden; /* Hide any overflow content */
    box-sizing: border-box; /* Ensure padding fits correctly */
    font-size: 50px;
}
  