CREATE TABLE `Alias` (`idAlias` integer PRIMARY KEY AUTOINCREMENT,`idSuggestion` integer NOT NULL,`alias` text,`count` integer NOT NULL DEFAULT 1);
CREATE TABLE sqlite_sequence(name,seq);
CREATE UNIQUE INDEX `unique_index` ON `Alias`(`idSuggestion`,`alias`);
CREATE INDEX `fk_Alias_Suggestion1_idx` ON `Alias`(`idSuggestion`);
CREATE TABLE `Click` (`idInteraction` integer NOT NULL,`idSuggestion` integer NOT NULL,`rowvalues` text,PRIMARY KEY (`idInteraction`),CONSTRAINT `fk_Interaction_clicks` FOREIGN KEY (`idInteraction`) REFERENCES `Interaction`(`idInteraction`));
CREATE INDEX `fk_Click_Suggestion1_idx` ON `Click`(`idSuggestion`);
CREATE INDEX `fk_Click_Interaction1_idx` ON `Click`(`idInteraction`);
CREATE TABLE `DataType` (`idDataType` integer PRIMARY KEY AUTOINCREMENT,`type` text);
CREATE TABLE `DatabaitCreateType` (`idDatabaitCreateType` integer PRIMARY KEY AUTOINCREMENT,`type` text);
CREATE TABLE `DatabaitNextAction` (`idDatabaitNextAction` integer PRIMARY KEY AUTOINCREMENT,`action` text);
CREATE TABLE `DatabaitTemplateType` (`idDatabaitTemplateType` integer PRIMARY KEY AUTOINCREMENT,`template` text);
CREATE TABLE `DoubleClick` (`idInteraction` integer NOT NULL,`idSuggestion` integer NOT NULL,`rowvalues` text,PRIMARY KEY (`idInteraction`),CONSTRAINT `fk_Interaction_double_clicks` FOREIGN KEY (`idInteraction`) REFERENCES `Interaction`(`idInteraction`));
CREATE INDEX `fk_DoubleClick_Suggestion1_idx` ON `DoubleClick`(`idSuggestion`);
CREATE INDEX `fk_DoubleClick_Interaction1_idx` ON `DoubleClick`(`idInteraction`);
CREATE TABLE `Edit_Suggestion` (`idEdit` integer NOT NULL,`idSuggestion` integer NOT NULL,`isPrevSuggestion` integer NOT NULL,`isNew` integer NOT NULL,`isChosen` integer NOT NULL);
CREATE INDEX `_index_edit_suggestion_idSuggestion_agsdh1872dg` ON `Edit_Suggestion`(`idSuggestion`);
CREATE UNIQUE INDEX `idEdit` ON `Edit_Suggestion`(`idEdit`,`idSuggestion`);
CREATE INDEX `_index_edit_suggestion_idEdit_agsdh1872dg` ON `Edit_Suggestion`(`idEdit`);
CREATE TABLE `EntryType` (`idEntryType` integer PRIMARY KEY AUTOINCREMENT,`type` text);
CREATE TABLE `Interaction` (`idInteraction` integer PRIMARY KEY AUTOINCREMENT,`idSession` integer NOT NULL,`idInteractionType` integer NOT NULL,`timestamp` datetime DEFAULT CURRENT_TIMESTAMP,CONSTRAINT `fk_InteractionType_interactions` FOREIGN KEY (`idInteractionType`) REFERENCES `InteractionType`(`idInteractionType`));
CREATE INDEX `fk_Interaction_InteractionType1_idx` ON `Interaction`(`idInteractionType`);
CREATE INDEX `fk_Interaction_Session1_idx` ON `Interaction`(`idSession`);
CREATE TABLE `DatabaitTweet` (`idDatabaitTweet` integer PRIMARY KEY AUTOINCREMENT,`idInteraction` integer NOT NULL,`idDatabait` integer NOT NULL,`url` text NOT NULL,`likes` integer,`retweets` integer,`created` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,`nextActionTimestamp` datetime,`nextAction` integer,CONSTRAINT `fk_DatabaitNextAction_databait_tweets` FOREIGN KEY (`nextAction`) REFERENCES `DatabaitNextAction`(`idDatabaitNextAction`),CONSTRAINT `fk_Interaction_databait_tweets` FOREIGN KEY (`idInteraction`) REFERENCES `Interaction`(`idInteraction`));
CREATE TABLE `Edit` (`IdInteraction` integer NOT NULL,`idEdit` integer PRIMARY KEY AUTOINCREMENT,`idEntryType` integer NOT NULL,`mode` text NOT NULL DEFAULT "normal",`isCorrect` integer DEFAULT 2,CONSTRAINT `fk_EntryType_edits` FOREIGN KEY (`idEntryType`) REFERENCES `EntryType`(`idEntryType`),CONSTRAINT `fk_Interaction_edits` FOREIGN KEY (`IdInteraction`) REFERENCES `Interaction`(`idInteraction`));
CREATE INDEX `idInteraction_index_adfhj126` ON `Edit`(`IdInteraction`);
CREATE TABLE `InteractionType` (`idInteractionType` integer PRIMARY KEY AUTOINCREMENT,`interaction` text);
CREATE TABLE `Profile` (`idProfile` integer PRIMARY KEY AUTOINCREMENT,`idRole` integer NOT NULL DEFAULT 2,`username` text,`email` text,`password` text,`passwordRaw` text,`date_created` datetime DEFAULT CURRENT_TIMESTAMP,`date_updated` datetime DEFAULT CURRENT_TIMESTAMP,CONSTRAINT `fk_Role_profiles` FOREIGN KEY (`idRole`) REFERENCES `Role`(`idRole`));
CREATE UNIQUE INDEX `unique_email_profile` ON `Profile`(`email`);
CREATE UNIQUE INDEX `unique_username_profile` ON `Profile`(`username`);
CREATE INDEX `index_idRole_profileTable` ON `Profile`(`idRole`);
CREATE TABLE `RemoveUserData` (`id_removeuserdata` integer PRIMARY KEY AUTOINCREMENT,`id_profile` integer NOT NULL,`id_session` integer NOT NULL,`timestamp` datetime DEFAULT CURRENT_TIMESTAMP);
CREATE TABLE `Role` (`idRole` integer PRIMARY KEY AUTOINCREMENT,`role` text NOT NULL);
CREATE TABLE `SearchType` (`idSearchType` integer PRIMARY KEY AUTOINCREMENT,`type` text NOT NULL);
CREATE TABLE `SelectRange` (`idInteraction` integer NOT NULL,`idSuggestion` integer NOT NULL,`rowvalues` text,CONSTRAINT `fk_Interaction_select_ranges` FOREIGN KEY (`idInteraction`) REFERENCES `Interaction`(`idInteraction`));
CREATE INDEX `fk_Click_Suggestion2_idx` ON `SelectRange`(`idSuggestion`);
CREATE INDEX `fk_Click_Interaction2_idx` ON `SelectRange`(`idInteraction`);
CREATE TABLE `Session` (`idSession` integer PRIMARY KEY AUTOINCREMENT,`idProfile` integer,`start` datetime DEFAULT CURRENT_TIMESTAMP,`end` datetime,CONSTRAINT `fk_Profile_sessions` FOREIGN KEY (`idProfile`) REFERENCES `Profile`(`idProfile`));
CREATE INDEX `fk_Session_Profile1_idx` ON `Session`(`idProfile`);
CREATE TABLE `SuggestionType` (`idSuggestionType` integer PRIMARY KEY AUTOINCREMENT,`idDataType` integer NOT NULL,`name` text,`isActive` integer NOT NULL DEFAULT 1,`regex` text NOT NULL DEFAULT ".*",`makesRowUnique` integer DEFAULT 0,`canBeBlank` integer NOT NULL DEFAULT 0,`isFreeEdit` integer NOT NULL DEFAULT 1,`isDate` integer NOT NULL DEFAULT 0,`isLink` integer NOT NULL DEFAULT 0,`isCurrency` integer NOT NULL DEFAULT 0,`isEditable` integer NOT NULL DEFAULT 1,`isPrivate` integer NOT NULL DEFAULT 0,`columnOrder` integer);
CREATE INDEX `fk_SuggestionType_DataType1_idx` ON `SuggestionType`(`idDataType`);
CREATE TABLE `CopyColumn` (`idInteraction` integer,`idSuggestionType` integer,PRIMARY KEY (`idInteraction`,`idSuggestionType`),CONSTRAINT `fk_SuggestionType_copy_columns` FOREIGN KEY (`idSuggestionType`) REFERENCES `SuggestionType`(`idSuggestionType`),CONSTRAINT `fk_Interaction_copy_columns` FOREIGN KEY (`idInteraction`) REFERENCES `Interaction`(`idInteraction`));
CREATE TABLE `Search` (`idInteraction` integer NOT NULL,`idSuggestionType` integer NOT NULL,`idSearchType` integer NOT NULL DEFAULT 3,`isPartial` integer NOT NULL DEFAULT 1,`isMulti` integer NOT NULL DEFAULT 0,`isFromUrl` integer NOT NULL DEFAULT 0,`value` text,`matchedValues` blob,CONSTRAINT `fk_Interaction_searches` FOREIGN KEY (`idInteraction`) REFERENCES `Interaction`(`idInteraction`),CONSTRAINT `fk_SearchType_searches` FOREIGN KEY (`idSearchType`) REFERENCES `SearchType`(`idSearchType`),CONSTRAINT `fk_SuggestionType_searches` FOREIGN KEY (`idSuggestionType`) REFERENCES `SuggestionType`(`idSuggestionType`));
CREATE INDEX `_index_idSearchType_182356` ON `Search`(`idSearchType`);
CREATE INDEX `_fk_idSuggestionType_12835gv` ON `Search`(`idSuggestionType`);
CREATE INDEX `fk_Search_Interaction1_idx` ON `Search`(`idInteraction`);
CREATE TABLE `SearchMulti` (`idInteraction` integer,`idSuggestionType` integer,`idSearchType` integer NOT NULL DEFAULT 3,`value` text,PRIMARY KEY (`idInteraction`,`idSuggestionType`),CONSTRAINT `fk_Interaction_search_multis` FOREIGN KEY (`idInteraction`) REFERENCES `Interaction`(`idInteraction`),CONSTRAINT `fk_SearchType_search_multis` FOREIGN KEY (`idSearchType`) REFERENCES `SearchType`(`idSearchType`),CONSTRAINT `fk_SuggestionType_search_multis` FOREIGN KEY (`idSuggestionType`) REFERENCES `SuggestionType`(`idSuggestionType`));
CREATE INDEX `fk_SearchMulti_Interaction1_idx` ON `SearchMulti`(`idInteraction`);
CREATE TABLE `Sort` (`idInteraction` integer,`idSuggestionType` integer,`isAsc` integer NOT NULL DEFAULT 1,`isTrigger` integer NOT NULL DEFAULT 1,`isMulti` integer NOT NULL DEFAULT 0,PRIMARY KEY (`idInteraction`,`idSuggestionType`),CONSTRAINT `fk_Interaction_sorts` FOREIGN KEY (`idInteraction`) REFERENCES `Interaction`(`idInteraction`),CONSTRAINT `fk_SuggestionType_sorts` FOREIGN KEY (`idSuggestionType`) REFERENCES `SuggestionType`(`idSuggestionType`));
CREATE INDEX `fk_Sort_SuggestionType1_idx` ON `Sort`(`idSuggestionType`);
CREATE INDEX `fk_Sort_Interaction1_idx` ON `Sort`(`idInteraction`);
CREATE TABLE `SuggestionTypeValues` (`idSuggestionType` integer NOT NULL,`value` text,`active` integer NOT NULL DEFAULT 1,CONSTRAINT `fk_SuggestionType_suggestion_type_vals` FOREIGN KEY (`idSuggestionType`) REFERENCES `SuggestionType`(`idSuggestionType`));
CREATE UNIQUE INDEX `idSuggestionType` ON `SuggestionTypeValues`(`idSuggestionType`,`value`);
CREATE UNIQUE INDEX `PRIMARY_id_and_value` ON `SuggestionTypeValues`(`idSuggestionType`,`value`);
CREATE INDEX `fk_idSuggestioType_1827635` ON `SuggestionTypeValues`(`idSuggestionType`);
CREATE TABLE `UniqueId` (`idUniqueID` integer PRIMARY KEY AUTOINCREMENT,`active` integer NOT NULL DEFAULT 1,`notes` text);
CREATE TABLE `Comments` (`idComment` integer PRIMARY KEY AUTOINCREMENT,`idInteraction` integer NOT NULL,`idUniqueID` integer NOT NULL,`comment` text NOT NULL,`voteUp` integer NOT NULL DEFAULT 0,`voteDown` integer NOT NULL DEFAULT 0,CONSTRAINT `fk_Interaction_comments` FOREIGN KEY (`idInteraction`) REFERENCES `Interaction`(`idInteraction`),CONSTRAINT `fk_UniqueId_comments_list` FOREIGN KEY (`idUniqueID`) REFERENCES `UniqueId`(`idUniqueID`));
CREATE TABLE `CommentVote` (`idCommentVote` integer PRIMARY KEY AUTOINCREMENT,`idInteraction` integer NOT NULL,`idComment` integer NOT NULL,`vote` text NOT NULL,`selected` integer,CONSTRAINT `fk_Comments_comment_votes` FOREIGN KEY (`idComment`) REFERENCES `Comments`(`idComment`),CONSTRAINT `fk_Interaction_comment_votes` FOREIGN KEY (`idInteraction`) REFERENCES `Interaction`(`idInteraction`),CONSTRAINT `chk_CommentVote_vote` CHECK (vote IN ('voteUp','voteUp-deselect','voteDown','voteDown-deselect')));
CREATE TABLE `CommentsView` (`idCommentsView` integer PRIMARY KEY AUTOINCREMENT,`idUniqueID` integer,`idInteraction` integer,CONSTRAINT `fk_UniqueId_comments_views` FOREIGN KEY (`idUniqueID`) REFERENCES `UniqueId`(`idUniqueID`),CONSTRAINT `fk_Interaction_comments_views` FOREIGN KEY (`idInteraction`) REFERENCES `Interaction`(`idInteraction`));
CREATE TABLE `Databaits` (`idDatabait` integer PRIMARY KEY AUTOINCREMENT,`idInteraction` integer NOT NULL,`idUniqueID` integer,`idDatabaitTemplateType` integer NOT NULL,`idDatabaitCreateType` integer NOT NULL,`databait` text NOT NULL,`columns` text,`vals` text,`notes` text NOT NULL,`created` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,`closed` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',`nextAction` integer,CONSTRAINT `fk_Interaction_databaits` FOREIGN KEY (`idInteraction`) REFERENCES `Interaction`(`idInteraction`),CONSTRAINT `fk_UniqueId_databaits` FOREIGN KEY (`idUniqueID`) REFERENCES `UniqueId`(`idUniqueID`),CONSTRAINT `fk_DatabaitCreateType_databaits` FOREIGN KEY (`idDatabaitCreateType`) REFERENCES `DatabaitCreateType`(`idDatabaitCreateType`),CONSTRAINT `fk_DatabaitNextAction_databaits` FOREIGN KEY (`nextAction`) REFERENCES `DatabaitNextAction`(`idDatabaitNextAction`),CONSTRAINT `fk_DatabaitTemplateType_databaits` FOREIGN KEY (`idDatabaitTemplateType`) REFERENCES `DatabaitTemplateType`(`idDatabaitTemplateType`));
CREATE TABLE `DatabaitVisit` (`idInteraction` integer NOT NULL,`idDatabait` integer NOT NULL,`source` text,CONSTRAINT `fk_Databaits_databait_visits` FOREIGN KEY (`idDatabait`) REFERENCES `Databaits`(`idDatabait`),CONSTRAINT `fk_Interaction_databait_visits` FOREIGN KEY (`idInteraction`) REFERENCES `Interaction`(`idInteraction`));
CREATE UNIQUE INDEX `_unique_id_interaction_databaitvisit` ON `DatabaitVisit`(`idInteraction`);
CREATE TABLE `Edit_DelRow` (`idUniqueID` integer NOT NULL,`idEdit` integer NOT NULL,`comment` text NOT NULL,CONSTRAINT `fk_UniqueId_edit_del_rows` FOREIGN KEY (`idUniqueID`) REFERENCES `UniqueId`(`idUniqueID`));
CREATE TABLE `HelpUs` (`idHelpUs` integer PRIMARY KEY AUTOINCREMENT,`idInteraction` integer NOT NULL,`idUniqueID` integer NOT NULL,`helpUsType` text NOT NULL,`question` text NOT NULL,`answer` text,`start` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,`answered` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',`showAnother` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',`closed` datetime NOT NULL DEFAULT '0000-00-00 00:00:00',CONSTRAINT `fk_Interaction_help_us_entries` FOREIGN KEY (`idInteraction`) REFERENCES `Interaction`(`idInteraction`),CONSTRAINT `fk_UniqueId_help_us_entries` FOREIGN KEY (`idUniqueID`) REFERENCES `UniqueId`(`idUniqueID`));
CREATE TABLE `Suggestions` (`idSuggestion` integer PRIMARY KEY AUTOINCREMENT,`idSuggestionType` integer NOT NULL,`idUniqueID` integer NOT NULL,`idProfile` integer NOT NULL DEFAULT 2,`suggestion` text NOT NULL DEFAULT "",`active` integer NOT NULL DEFAULT 1,`confidence` integer,`last_updated` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,CONSTRAINT `fk_SuggestionType_suggestions` FOREIGN KEY (`idSuggestionType`) REFERENCES `SuggestionType`(`idSuggestionType`),CONSTRAINT `fk_UniqueId_suggestions_list` FOREIGN KEY (`idUniqueID`) REFERENCES `UniqueId`(`idUniqueID`));
CREATE INDEX `fk_Suggestion_UniqueID_idx` ON `Suggestions`(`idUniqueID`);
CREATE INDEX `fk_Suggestion_SuggestionType1_idx` ON `Suggestions`(`idSuggestionType`);
CREATE UNIQUE INDEX `idSuggestion` ON `Suggestions`(`idSuggestion`);
CREATE INDEX `idSuggestion_2` ON `Suggestions`(`idSuggestion`);
CREATE TABLE `Copy` (`idInteraction` integer,`idSuggestion` integer,PRIMARY KEY (`idInteraction`,`idSuggestion`),CONSTRAINT `fk_Interaction_copies` FOREIGN KEY (`idInteraction`) REFERENCES `Interaction`(`idInteraction`),CONSTRAINT `fk_Suggestions_copies` FOREIGN KEY (`idSuggestion`) REFERENCES `Suggestions`(`idSuggestion`));
CREATE TABLE `Edit_NewRow` (`idEdit` integer NOT NULL,`idSuggestion` integer NOT NULL,`isCorrect` integer NOT NULL DEFAULT 2,CONSTRAINT `fk_Suggestions_edit_new_rows` FOREIGN KEY (`idSuggestion`) REFERENCES `Suggestions`(`idSuggestion`));
CREATE UNIQUE INDEX `idEdit_` ON `Edit_NewRow`(`idEdit`,`idSuggestion`);
CREATE TABLE `Paste` (`idInteraction` integer NOT NULL,`pasteValue` text NOT NULL,`copyCellIdSuggestion` integer,`copyCellValue` text,`pasteCellIdSuggestion` integer NOT NULL,`pasteCellValue` text NOT NULL,PRIMARY KEY (`idInteraction`),CONSTRAINT `fk_Interaction_pastes` FOREIGN KEY (`idInteraction`) REFERENCES `Interaction`(`idInteraction`),CONSTRAINT `fk_Suggestions_pastes_copied` FOREIGN KEY (`copyCellIdSuggestion`) REFERENCES `Suggestions`(`idSuggestion`),CONSTRAINT `fk_Suggestions_pastes_pasted` FOREIGN KEY (`pasteCellIdSuggestion`) REFERENCES `Suggestions`(`idSuggestion`));
CREATE TABLE `SearchGoogle` (`IdInteraction` integer NOT NULL,`idUniqueID` integer NOT NULL,`idSuggestion` integer NOT NULL,`searchValues` text NOT NULL,CONSTRAINT `fk_Interaction_search_googles` FOREIGN KEY (`IdInteraction`) REFERENCES `Interaction`(`idInteraction`),CONSTRAINT `fk_Suggestions_search_google_r` FOREIGN KEY (`idSuggestion`) REFERENCES `Suggestions`(`idSuggestion`),CONSTRAINT `fk_UniqueId_search_googles` FOREIGN KEY (`idUniqueID`) REFERENCES `UniqueId`(`idUniqueID`));
CREATE UNIQUE INDEX `IdInteraction` ON `SearchGoogle`(`IdInteraction`);
CREATE TABLE `ViewChange` (`idInteraction` integer,`viewname` text,PRIMARY KEY (`idInteraction`,`viewname`),CONSTRAINT `fk_Interaction_view_changes` FOREIGN KEY (`idInteraction`) REFERENCES `Interaction`(`idInteraction`));
CREATE TABLE `Visit` (`idVisit` integer PRIMARY KEY AUTOINCREMENT,`idInteraction` integer NOT NULL,`source` text,`searchCol` text,`searchVal` text,CONSTRAINT `fk_Interaction_visits` FOREIGN KEY (`idInteraction`) REFERENCES `Interaction`(`idInteraction`));
CREATE UNIQUE INDEX `Visit_idVisit_uindex` ON `Visit`(`idVisit`);
CREATE TABLE `sessions` (`session_id` text,`expires` integer NOT NULL,`data` text,PRIMARY KEY (`session_id`));
