CREATE TABLE Alias (

  idAlias      INTEGER PRIMARY KEY AUTOINCREMENT,

  idSuggestion INTEGER NOT NULL,

  alias        TEXT,

  count        INTEGER NOT NULL DEFAULT 1,

  CONSTRAINT unique_index UNIQUE (idSuggestion, alias)

);
CREATE TABLE sqlite_sequence(name,seq);
CREATE INDEX fk_Alias_Suggestion1_idx ON Alias (idSuggestion);
CREATE TABLE Click (

  idInteraction INTEGER PRIMARY KEY NOT NULL,

  idSuggestion  INTEGER NOT NULL,

  rowvalues     TEXT

);
CREATE INDEX fk_Click_Interaction1_idx ON Click (idInteraction);
CREATE INDEX fk_Click_Suggestion1_idx  ON Click (idSuggestion);
CREATE TABLE DataType (

  idDataType INTEGER PRIMARY KEY AUTOINCREMENT,

  type       TEXT

);
CREATE TABLE DatabaitCreateType (

  idDatabaitCreateType INTEGER PRIMARY KEY AUTOINCREMENT,

  type                 TEXT

);
CREATE TABLE DatabaitNextAction (

  idDatabaitNextAction INTEGER PRIMARY KEY AUTOINCREMENT,

  action               TEXT

);
CREATE TABLE DatabaitTemplateType (

  idDatabaitTemplateType INTEGER PRIMARY KEY AUTOINCREMENT,

  template               TEXT

);
CREATE TABLE DoubleClick (

  idInteraction INTEGER PRIMARY KEY NOT NULL,

  idSuggestion  INTEGER NOT NULL,

  rowvalues     TEXT

);
CREATE INDEX fk_DoubleClick_Interaction1_idx ON DoubleClick (idInteraction);
CREATE INDEX fk_DoubleClick_Suggestion1_idx  ON DoubleClick (idSuggestion);
CREATE TABLE Edit_Suggestion (

  idEdit           INTEGER NOT NULL,

  idSuggestion     INTEGER NOT NULL,

  isPrevSuggestion INTEGER NOT NULL,

  isNew            INTEGER NOT NULL,

  isChosen         INTEGER NOT NULL,

  CONSTRAINT idEdit UNIQUE (idEdit, idSuggestion)

);
CREATE INDEX _index_edit_suggestion_idEdit_agsdh1872dg

  ON Edit_Suggestion (idEdit);
CREATE INDEX _index_edit_suggestion_idSuggestion_agsdh1872dg

  ON Edit_Suggestion (idSuggestion);
CREATE TABLE EntryType (

  idEntryType INTEGER PRIMARY KEY AUTOINCREMENT,

  type        TEXT

);
CREATE TABLE Interaction (

  idInteraction     INTEGER PRIMARY KEY AUTOINCREMENT,

  idSession         INTEGER NOT NULL,

  idInteractionType INTEGER NOT NULL,

  timestamp         DATETIME DEFAULT CURRENT_TIMESTAMP

);
CREATE INDEX fk_Interaction_InteractionType1_idx ON Interaction (idInteractionType);
CREATE INDEX fk_Interaction_Session1_idx         ON Interaction (idSession);
CREATE TABLE DatabaitTweet (

  idDatabaitTweet     INTEGER PRIMARY KEY AUTOINCREMENT,

  idInteraction       INTEGER NOT NULL,

  idDatabait          INTEGER NOT NULL,

  url                 TEXT NOT NULL,

  likes               INTEGER,

  retweets            INTEGER,

  created             DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,

  nextActionTimestamp DATETIME,

  nextAction          INTEGER,

  CONSTRAINT _fk_idInteraction_DatabaitTweet_t615das

    FOREIGN KEY (idInteraction) REFERENCES Interaction (idInteraction),

  CONSTRAINT _fk_nextAction_DatabaitTweet_t615das

    FOREIGN KEY (nextAction) REFERENCES DatabaitNextAction (idDatabaitNextAction)

);
CREATE TABLE Edit (

  IdInteraction INTEGER NOT NULL,

  idEdit        INTEGER PRIMARY KEY AUTOINCREMENT,

  idEntryType   INTEGER NOT NULL,

  mode          TEXT NOT NULL DEFAULT 'normal',

  isCorrect     INTEGER DEFAULT 2,

  CONSTRAINT _fk_idEntryType_from_edit_asllhg1233

    FOREIGN KEY (idEntryType) REFERENCES EntryType (idEntryType),

  CONSTRAINT _fk_idInteraction_from_edit_asdlhg1235

    FOREIGN KEY (IdInteraction) REFERENCES Interaction (idInteraction)

);
CREATE INDEX idInteraction_index_adfhj126 ON Edit (IdInteraction);
CREATE TABLE InteractionType (

  idInteractionType INTEGER PRIMARY KEY AUTOINCREMENT,

  interaction       TEXT

);
CREATE TABLE Profile (

  idProfile    INTEGER PRIMARY KEY AUTOINCREMENT,

  idRole       INTEGER NOT NULL DEFAULT 2,

  username     TEXT,

  email        TEXT,

  password     TEXT,

  passwordRaw  TEXT,

  date_created DATETIME DEFAULT CURRENT_TIMESTAMP,

  date_updated DATETIME DEFAULT CURRENT_TIMESTAMP,

  CONSTRAINT unique_email_profile    UNIQUE (email),

  CONSTRAINT unique_username_profile UNIQUE (username)

);
CREATE INDEX index_idRole_profileTable ON Profile (idRole);
CREATE TABLE RemoveUserData (

  id_removeuserdata INTEGER PRIMARY KEY AUTOINCREMENT,

  id_profile        INTEGER NOT NULL,

  id_session        INTEGER NOT NULL,

  timestamp         DATETIME DEFAULT CURRENT_TIMESTAMP

);
CREATE TABLE Role (

  idRole INTEGER PRIMARY KEY AUTOINCREMENT,

  role   TEXT NOT NULL

);
CREATE TABLE SearchType (

  idSearchType INTEGER PRIMARY KEY AUTOINCREMENT,

  type         TEXT NOT NULL

);
CREATE TABLE SelectRange (

  idInteraction INTEGER NOT NULL,

  idSuggestion  INTEGER NOT NULL,

  rowvalues     TEXT

);
CREATE INDEX fk_Click_Interaction2_idx ON SelectRange (idInteraction);
CREATE INDEX fk_Click_Suggestion2_idx  ON SelectRange (idSuggestion);
CREATE TABLE Session (

  idSession INTEGER PRIMARY KEY AUTOINCREMENT,

  idProfile INTEGER,

  start     DATETIME DEFAULT CURRENT_TIMESTAMP,

  end       DATETIME

);
CREATE INDEX fk_Session_Profile1_idx ON Session (idProfile);
CREATE TABLE SuggestionType (

  idSuggestionType INTEGER PRIMARY KEY AUTOINCREMENT,

  idDataType       INTEGER NOT NULL,

  name             TEXT,

  isActive         INTEGER NOT NULL DEFAULT 1,

  regex            TEXT NOT NULL DEFAULT '.*',

  makesRowUnique   INTEGER DEFAULT 0,

  canBeBlank       INTEGER NOT NULL DEFAULT 0,

  isFreeEdit       INTEGER NOT NULL DEFAULT 1,

  isDate           INTEGER NOT NULL DEFAULT 0,

  isLink           INTEGER NOT NULL DEFAULT 0,

  isCurrency       INTEGER NOT NULL DEFAULT 0,

  isEditable       INTEGER NOT NULL DEFAULT 1,

  isPrivate        INTEGER NOT NULL DEFAULT 0,

  columnOrder      INTEGER

);
CREATE INDEX fk_SuggestionType_DataType1_idx ON SuggestionType (idDataType);
CREATE TABLE CopyColumn (

  idInteraction    INTEGER NOT NULL,

  idSuggestionType INTEGER NOT NULL,

  PRIMARY KEY (idInteraction, idSuggestionType),

  CONSTRAINT _fk_idInteraction_CopyColumn_alsdfh12356

    FOREIGN KEY (idInteraction) REFERENCES Interaction (idInteraction),

  CONSTRAINT _fk_idSuggestionType_CopyColumn_alsdfh12356

    FOREIGN KEY (idSuggestionType) REFERENCES SuggestionType (idSuggestionType)

);
CREATE TABLE Search (

  idInteraction    INTEGER NOT NULL,

  idSuggestionType INTEGER NOT NULL,

  idSearchType     INTEGER NOT NULL DEFAULT 3,

  isPartial        INTEGER NOT NULL DEFAULT 1,

  isMulti          INTEGER NOT NULL DEFAULT 0,

  isFromUrl        INTEGER NOT NULL DEFAULT 0,

  value            TEXT,

  matchedValues    BLOB,

  CONSTRAINT fk_Search_Interaction1

    FOREIGN KEY (idInteraction) REFERENCES Interaction (idInteraction),

  CONSTRAINT fk_id_search_type_1

    FOREIGN KEY (idSearchType) REFERENCES SearchType (idSearchType),

  CONSTRAINT search_ibfk_1

    FOREIGN KEY (idSuggestionType) REFERENCES SuggestionType (idSuggestionType)

);
CREATE INDEX _fk_idSuggestionType_12835gv ON Search (idSuggestionType);
CREATE INDEX _index_idSearchType_182356   ON Search (idSearchType);
CREATE INDEX fk_Search_Interaction1_idx   ON Search (idInteraction);
CREATE TABLE SearchMulti (

  idInteraction    INTEGER NOT NULL,

  idSuggestionType INTEGER NOT NULL,

  idSearchType     INTEGER NOT NULL DEFAULT 3,

  value            TEXT,

  PRIMARY KEY (idInteraction, idSuggestionType),

  CONSTRAINT SearchMulti_ibfk_11231

    FOREIGN KEY (idSuggestionType) REFERENCES SuggestionType (idSuggestionType),

  CONSTRAINT fk_SearchMulti_Interaction112312

    FOREIGN KEY (idInteraction) REFERENCES Interaction (idInteraction),

  CONSTRAINT fk_id_Search_type_112312

    FOREIGN KEY (idSearchType) REFERENCES SearchType (idSearchType)

);
CREATE INDEX fk_SearchMulti_Interaction1_idx ON SearchMulti (idInteraction);
CREATE TABLE Sort (

  idInteraction    INTEGER NOT NULL,

  idSuggestionType INTEGER NOT NULL,

  isAsc            INTEGER NOT NULL DEFAULT 1,

  isTrigger        INTEGER NOT NULL DEFAULT 1,

  isMulti          INTEGER NOT NULL DEFAULT 0,

  PRIMARY KEY (idInteraction, idSuggestionType),

  CONSTRAINT _fk_idInteraction_1827365

    FOREIGN KEY (idInteraction) REFERENCES Interaction (idInteraction),

  CONSTRAINT _fk_idSuggestionType_2827365

    FOREIGN KEY (idSuggestionType) REFERENCES SuggestionType (idSuggestionType)

);
CREATE INDEX fk_Sort_Interaction1_idx    ON Sort (idInteraction);
CREATE INDEX fk_Sort_SuggestionType1_idx ON Sort (idSuggestionType);
CREATE TABLE SuggestionTypeValues (

  idSuggestionType INTEGER NOT NULL,

  value            TEXT,

  active           INTEGER NOT NULL DEFAULT 1,

  CONSTRAINT PRIMARY_id_and_value UNIQUE (idSuggestionType, value),

  CONSTRAINT idSuggestionType     UNIQUE (idSuggestionType, value)

);
CREATE INDEX fk_idSuggestioType_1827635 ON SuggestionTypeValues (idSuggestionType);
CREATE TABLE UniqueId (

  idUniqueID INTEGER PRIMARY KEY AUTOINCREMENT,

  active     INTEGER NOT NULL DEFAULT 1,

  notes      TEXT

);
CREATE TABLE Comments (

  idComment     INTEGER PRIMARY KEY AUTOINCREMENT,

  idInteraction INTEGER NOT NULL,

  idUniqueID    INTEGER NOT NULL,

  comment       TEXT NOT NULL,

  voteUp        INTEGER NOT NULL DEFAULT 0,

  voteDown      INTEGER NOT NULL DEFAULT 0,

  CONSTRAINT Comments___fk_idInteraction_ksjdfba87aidsb

    FOREIGN KEY (idInteraction) REFERENCES Interaction (idInteraction),

  CONSTRAINT Comments___fk_iduniqid_oq83eyfgqwuyofhba

    FOREIGN KEY (idUniqueID) REFERENCES UniqueId (idUniqueID)

);
CREATE TABLE CommentVote (

  idCommentVote INTEGER PRIMARY KEY AUTOINCREMENT,

  idInteraction INTEGER NOT NULL,

  idComment     INTEGER NOT NULL,

  vote          TEXT NOT NULL,

  selected      INTEGER,

  CONSTRAINT table_name___fk_comments_akhsdfashjld

    FOREIGN KEY (idComment) REFERENCES Comments (idComment),

  CONSTRAINT table_name___fk_interaction_akdhfa

    FOREIGN KEY (idInteraction) REFERENCES Interaction (idInteraction),

  CONSTRAINT voteType

    CHECK (vote IN ('voteUp','voteUp-deselect','voteDown','voteDown-deselect'))

);
CREATE TABLE CommentsView (

  idCommentsView INTEGER PRIMARY KEY AUTOINCREMENT,

  idUniqueID     INTEGER,

  idInteraction  INTEGER,

  CONSTRAINT CommentsView___fk_comments_alksdhfga1231

    FOREIGN KEY (idUniqueID) REFERENCES UniqueId (idUniqueID),

  CONSTRAINT CommentsView___fk_interaction_aljhsdfg5123

    FOREIGN KEY (idInteraction) REFERENCES Interaction (idInteraction)

);
CREATE TABLE Databaits (

  idDatabait             INTEGER PRIMARY KEY AUTOINCREMENT,

  idInteraction          INTEGER NOT NULL,

  idUniqueID             INTEGER,

  idDatabaitTemplateType INTEGER NOT NULL,

  idDatabaitCreateType   INTEGER NOT NULL,

  databait               TEXT NOT NULL,

  columns                TEXT,

  vals                   TEXT,

  notes                  TEXT NOT NULL,

  created                DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,

  closed                 DATETIME NOT NULL DEFAULT '0000-00-00 00:00:00',

  nextAction             INTEGER,

  CONSTRAINT _fk_databaits_nextAction_b6345das

    FOREIGN KEY (nextAction)             REFERENCES DatabaitNextAction (idDatabaitNextAction),

  CONSTRAINT _fk_idDatabaitCreateType_b6345das

    FOREIGN KEY (idDatabaitCreateType)   REFERENCES DatabaitCreateType (idDatabaitCreateType),

  CONSTRAINT _fk_idDatabaitTemplateType_b6345das

    FOREIGN KEY (idDatabaitTemplateType) REFERENCES DatabaitTemplateType (idDatabaitTemplateType),

  CONSTRAINT _fk_idInteraction_Databaits_a6a3344

    FOREIGN KEY (idInteraction)          REFERENCES Interaction (idInteraction),

  CONSTRAINT _fk_idUniqueID_Databaits_b111edss

    FOREIGN KEY (idUniqueID)             REFERENCES UniqueId (idUniqueID)

);
CREATE TABLE DatabaitVisit (

  idInteraction INTEGER NOT NULL,

  idDatabait    INTEGER NOT NULL,

  source        TEXT,

  CONSTRAINT _unique_id_interaction_databaitvisit UNIQUE (idInteraction),

  CONSTRAINT _fk_idDatabait_DatabaitVisit_b123gda

    FOREIGN KEY (idDatabait) REFERENCES Databaits (idDatabait),

  CONSTRAINT _fk_idInteraction_DatabaitVisit_asdhjk16341

    FOREIGN KEY (idInteraction) REFERENCES Interaction (idInteraction)

);
CREATE TABLE Edit_DelRow (

  idUniqueID INTEGER NOT NULL,

  idEdit     INTEGER NOT NULL,

  comment    TEXT NOT NULL,

  CONSTRAINT _fk_edit_akjdhaas

    FOREIGN KEY (idEdit)     REFERENCES Edit (idEdit),

  CONSTRAINT _fk_UniqueID_1027836asda

    FOREIGN KEY (idUniqueID) REFERENCES UniqueId (idUniqueID)

);
CREATE TABLE HelpUs (

  idHelpUs      INTEGER PRIMARY KEY AUTOINCREMENT,

  idInteraction INTEGER NOT NULL,

  idUniqueID    INTEGER NOT NULL,

  helpUsType    TEXT NOT NULL,

  question      TEXT NOT NULL,

  answer        TEXT,

  start         DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,

  answered      DATETIME NOT NULL DEFAULT '0000-00-00 00:00:00',

  showAnother   DATETIME NOT NULL DEFAULT '0000-00-00 00:00:00',

  closed        DATETIME NOT NULL DEFAULT '0000-00-00 00:00:00',

  CONSTRAINT HelpUs___fk_interaction_idInteraction

    FOREIGN KEY (idInteraction) REFERENCES Interaction (idInteraction),

  CONSTRAINT HelpUs___fk_interaction_idUniqueID

    FOREIGN KEY (idUniqueID)    REFERENCES UniqueId (idUniqueID)

);
CREATE TABLE Suggestions (

  idSuggestion     INTEGER PRIMARY KEY AUTOINCREMENT,

  idSuggestionType INTEGER NOT NULL,

  idUniqueID       INTEGER NOT NULL,

  idProfile        INTEGER NOT NULL DEFAULT 2,

  suggestion       TEXT NOT NULL DEFAULT '',

  active           INTEGER NOT NULL DEFAULT 1,

  confidence       INTEGER,

  last_updated     DATETIME NOT NULL DEFAULT CURRENT_TIMESTAMP,

  CONSTRAINT idSuggestion UNIQUE (idSuggestion),

  CONSTRAINT fk_idSuggestionType_123687

    FOREIGN KEY (idSuggestionType) REFERENCES SuggestionType (idSuggestionType),

  CONSTRAINT fk_unique_row_id

    FOREIGN KEY (idUniqueID) REFERENCES UniqueId (idUniqueID)

);
CREATE INDEX fk_Suggestion_SuggestionType1_idx ON Suggestions (idSuggestionType);
CREATE INDEX fk_Suggestion_UniqueID_idx        ON Suggestions (idUniqueID);
CREATE INDEX idSuggestion_2                    ON Suggestions (idSuggestion);
CREATE TABLE Copy (

  idInteraction INTEGER NOT NULL,

  idSuggestion  INTEGER NOT NULL,

  PRIMARY KEY (idInteraction, idSuggestion),

  CONSTRAINT _fk_idInteraction_4447654

    FOREIGN KEY (idInteraction) REFERENCES Interaction (idInteraction),

  CONSTRAINT _fk_idSuggestion_4417654

    FOREIGN KEY (idSuggestion)  REFERENCES Suggestions (idSuggestion)

);
CREATE TABLE Edit_NewRow (

  idEdit       INTEGER NOT NULL,

  idSuggestion INTEGER NOT NULL,

  isCorrect    INTEGER NOT NULL DEFAULT 2,

  CONSTRAINT idEdit UNIQUE (idEdit, idSuggestion),

  CONSTRAINT _fk_idEdit_from_Edit_NewRow_asdkl123

    FOREIGN KEY (idEdit)       REFERENCES Edit (idEdit),

  CONSTRAINT _fk_idSuggestion_from_Edit_NewRow_asdkl123

    FOREIGN KEY (idSuggestion) REFERENCES Suggestions (idSuggestion)

);
CREATE TABLE Paste (

  idInteraction         INTEGER PRIMARY KEY NOT NULL,

  pasteValue            TEXT NOT NULL,

  copyCellIdSuggestion  INTEGER,

  copyCellValue         TEXT,

  pasteCellIdSuggestion INTEGER NOT NULL,

  pasteCellValue        TEXT NOT NULL,

  CONSTRAINT _fk_copy_id_suggestion_197823

    FOREIGN KEY (copyCellIdSuggestion)  REFERENCES Suggestions (idSuggestion),

  CONSTRAINT _fk_paste_id_suggestion_197823

    FOREIGN KEY (pasteCellIdSuggestion) REFERENCES Suggestions (idSuggestion)

);
CREATE TABLE SearchGoogle (

  IdInteraction INTEGER NOT NULL,

  idUniqueID    INTEGER NOT NULL,

  idSuggestion  INTEGER NOT NULL,

  searchValues  TEXT NOT NULL,

  CONSTRAINT IdInteraction UNIQUE (IdInteraction),

  CONSTRAINT _fk_idInteraction_SearchGoogle_a645das

    FOREIGN KEY (IdInteraction) REFERENCES Interaction (idInteraction),

  CONSTRAINT _fk_idSuggestion_SearchGoogle_a645das

    FOREIGN KEY (idSuggestion)  REFERENCES Suggestions (idSuggestion),

  CONSTRAINT _fk_idUniqueID_SearchGoogle_a645das

    FOREIGN KEY (idUniqueID)    REFERENCES UniqueId (idUniqueID)

);
CREATE TABLE ViewChange (

  idInteraction INTEGER NOT NULL,

  viewname      TEXT NOT NULL,

  PRIMARY KEY (idInteraction, viewname)

);
CREATE TABLE Visit (

  idVisit       INTEGER PRIMARY KEY AUTOINCREMENT,

  idInteraction INTEGER NOT NULL,

  source        TEXT,

  searchCol     TEXT,

  searchVal     TEXT,

  CONSTRAINT Visit_idVisit_uindex UNIQUE (idVisit),

  CONSTRAINT Visit___fk_interaction

    FOREIGN KEY (idInteraction) REFERENCES Interaction (idInteraction)

);
CREATE TABLE sessions (

  session_id TEXT PRIMARY KEY,

  expires    INTEGER NOT NULL,

  data       TEXT

);
