---
export const prerender = true;
import TestGrid from "../components/TestGrid.tsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Glide Minimal Test</title>
  </head>
  <body>
    <TestGrid client:only="react" />
  </body>
</html>
