[Unit]
Description=Drafty Go Backend
After=network.target

[Service]
Type=simple
WorkingDirectory=/vol/drafty3/backend
ExecStart=/vol/drafty3/bin/drafty-backend
Restart=always
RestartSec=3
User=root

[Install]
WantedBy=multi-user.target